/* Webfont: Gotham-Black */@font-face {
    font-family: 'Gotham-Black';
    src: url('Gotham-Black.eot'); /* IE9 Compat Modes */
    src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gotham-Black.woff') format('woff'), /* Modern Browsers */
         url('Gotham-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Gotham-Black.svg#Gotham-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

